.jumbotron.jumbotron-fluid.main-home
  .container
    %h2.display-4 Where you are matters...
    %h4 Get location-based deals and fun
    %a
      = link_to "Join Now", new_user_registration_path, class: "btn btn-danger btn-lg"
.container
  .row
    .col-sm-4
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "Card image cap", :src => "/tmp/berry.jpg"}/
        .card-body
          %h5.card-title Fresh Berries
          %p.card-text Get them Quick.
          %a.btn.btn-primary{:href => "#"} Look
    .col-sm-4
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "Card image cap", :src => "/tmp/cake.jpg"}/
        .card-body
          %h5.card-title Free Cake
          %p.card-text Two pieces of cake if your bday is this week.
          %a.btn.btn-primary{:href => "#"} Get the Deal
    .col-sm-4
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "Card image cap", :src => "/tmp/water-melon.jpg"}/
        .card-body
          %h5.card-title New Flavor
          %p.card-text Try our new Watermelon Smoothie.
          %a.btn.btn-primary{:href => "#"} Find Store
