.container
  .row
    .col-sm-12
      %form.form-inline       
        %label.sr-only{:for => "inlineFormInputGroupUsername2"} Username        
        %input.form-control{:placeholder => "Username", :type => "text"}/
        .form-check.mb-2.mr-sm-2          
        %button.btn.btn-primary.mb-2{:type => "submit"} Submit
