.col-sm-4
  .card.m-2.border-danger{:style => "width: 18rem;"}
    .card-body
      %h5.card-title 
        = post.place
      %h6.card-subtitle.mb-2.text-muted 
        = post.title
      %p.card-text 
        = post.details            
      %a.card-link{:href => "#"} Look